scratch/
Data/EEP_030501.gdb/
Scripts/Notes_jpfay.txt
Scripts/RScripts/greenhead_shinter_mxdata.csv
MaxEnt/Notropis_chlorocephalus.csv
MaxEnt/Notropis_chlorocephalus.txt.xml
*.asc

MaxEnt/Output/*.*
MaxEnt/Prk/*.*
Scripts/RScripts/*.*
*.mxe
