# Geodatabases
Data/EEP_030501.gdb/
Data/EEP_030201.gdb/
Data/EEP_030401.gdb/
Data/EEP_060102.gdb/

Scripts/Notes_jpfay.txt
Scripts/RScripts/output/
*.asc
*.mxe
*.info
MaxEnt/Prj/
MaxEnt/Output/Nocomis_leptocephalus.html
MaxEnt/*.csv
MaxEnt/Output/
MaxEnt/RunMe.bat
MaxEnt/Output/Nocomis_leptocephalus.html
Scripts/RScripts/MaxEnt_Shiner/
Scripts/RScripts/habitat_suitability.docx
MaxEnt/Elliptio_complanata.txt.xml
MaxEnt/Elliptio_complanata_RESULTS.txt.xml
MaxEnt/Notropis_chlorocephalus.txt.xml
Scripts/RScripts/MaxEnt_Shiner2.zip
MaxEnt/Output/maxentResults.csv
MaxEnt/Output/Nocomis_leptocephalus.html
MaxEnt/Output/maxentResults.csv
MaxEnt/Output/maxentResults.csv
MaxEnt/Output/maxentResults.csv
MaxEnt/Output/maxentResults.csv
MaxEnt/Output/Nocomis_leptocephalus.html
Docs/Endries_Data.xlsx
Scripts/UTIL_ListFields.py